<div class="jumbotron">
  <div class="container">
   <table class="table table-striped">
   	<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Gender</th>
			<th>Nationality</th>
			<th>Date of Birth</th>
			<th>Status</th>
		</tr>
		<tr>
			<th>{{person.firstName}}</th>
			<th> {{person.lastName}}</th>
			<th> {{person.gender}}</th>
			<th> {{person.nationality}}</th>
			<th> {{person.dateOfBirth | date:'d MMM,y'}}</th>
			<th>{{ person.recordStatus}}</th>
		</tr>
   </table>
  </div>
</div>